<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <title th:text="#{nemtom}">Lowfax</title>
    <link rel="stylesheet" th:href="@{~/assets/plugins/bootstrap/css/bootstrap.min.css}" href="../../public/assets/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{~/stylesheets/tutorials.css}" href="../../public/stylesheets/tutorials.css"/>
    <script th:src="@{~/assets/plugins/jquery-1.12.4.min.js}" src="../../public/assets/plugins/jquery-1.12.4.min.js"></script>
    <script th:src="@{~/assets/plugins/bootstrap/js/bootstrap.min.js}" src="../../public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <div class="container-fluid">
        <div class="row">
            TODO: header
        </div>
    </div>
</header>

<div class="container">
    <div class="col-sm-4">
        <div class="thumbnail">
            <h2>trallala :)</h2>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <h2>trallala :)</h2>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <h2>trallala :)</h2>
        </div>
    </div>
</div>

</body>
</html>