<section class="contact-section section" id="contact-section"><h2 class="section-title">Kapcsolatfelvétel</h2>
    <div class="intro"><img class="profile-image" src="/assets/images/profile-image.png" alt=""/>
        <div class="dialog"><p>Szívesen vállalok szabadúszóként projekteket!</p>
            <p><strong>A következőkben lehetek a segítségedre:</strong></p>
            <ul class="list-unstyled service-list">
                <li><i class="fa fa-check" aria-hidden="true"></i> Alkalmazás fejlesztés Android/C#/Swing/Qt5</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Front-end fejlesztés AngularJS/Bootstrap</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Back-end fejlesztés with JavaEE/Spring</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> UI fejlesztés</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> UX prototyping</li>
            </ul>
            <p>Írj üzenetet:<a href="mailto:paalgyula@paalgyula.com" itemprop="email">paalgyula@paalgyula.com</a>
                vagy hívj bátran:<a
                        href="tel:+36308468338" itemprop="telephone">+36 30 846 8338</a></p>
            <ul class="social list-inline">
                <li><a href="https://twitter.com/paalgyula"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://plus.google.com/+PaálGyulaÖrdög"><i class="fa fa-google-plus"
                                                                         aria-hidden="true"></i></a></li>
                <li><a href="https://bitbucket.org/paalgyula"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://github.com/paalgyula"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                </li>
                <li><a href="skype:goofydesign?add"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</section>
