<h2 class="section-title" i18n="@@educations">Educations</h2>
<div class="row">
    <div class="item col-xs-12 col-sm-4" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
        <div class="item-inner">
            <h3 class="degree">Középiskola</h3>
            <div class="education-body">GIMSZ</div>
            <div class="time">2003 - 2007</div>
            <div class="desc">
                Az ország felvételi rangsorolása alapján a 8. legjobb
                szakközépiskola. <b>Java, Delphi programozás</b> és alapok
                Windows/Linux/Novell üzemeltetésből.
            </div>
        </div>
    </div>
</div>
