<div>Best Regards:</div>
<table
  style="padding-top: 5px; font-size: 14px"
  cellpadding="0"
  cellspacing="0"
>
  <tbody>
    <tr>
      <td>
        <img
          style="height: 60px; width: 60px; border-radius: 50%; box-shadow: #bbb 0 0 3px 1px"
          src="https://www.paalgyula.com/profile-image.png"
        />
      </td>
      <td valign="middle" style="padding-left: 15px">
        🇭🇺 Paál Gyula (<i>Cloud Architect</i>)
        <br />
        <a href="tel:+36202500012" style="color: #2075c4; text-decoration: none">
          +36 (20) 250 0012
        </a>
        <br />
        <a
          href="https://paalgyula.com"
          style="text-decoration: none; color: #333333;"
        >
          Progressive Innovation <b><i>LAB</i></b></a
        ></span>
        <br />
      </td>
    </tr>
  </tbody>
</table>
