<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>www.paalgyula.com | 404 Error</title>
    <link href="../public/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/stylesheets/styles.css"
          th:href="@{~/stylesheets/styles.css}"/>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-87027213-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="gray-bg">

<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Page Not Found</h3>

    <div class="error-desc">
        Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the
        refresh button on your browser or try found something else in our app.
    </div>

    <a href="http://www.paalgyula.com">www.paalgyula.com</a>
</div>
</body>
</html>
