<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:if="${param.logout}">You have been logged out</div>
<div th:if="${param.error}">There was an error, please try again</div>

<form th:action="@{/login}" method="POST" >
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>

<form action="/login/github" method="POST">
    <input type="submit" value="Login using Github - SSO"/>
</form>

<form action="/connect/facebook" method="POST">
    <input type="hidden" name="scope" value="public_profile" />
    <input type="submit" value="Login using Facebook"/>
</form>

<form action="/connect/google" method="POST">
    <input type="hidden" name="scope" value="https://www.googleapis.com/auth/plus.login"/>
    <input type="submit" value="Login using Google+"/>
</form>

</body>
</html>