<div class="item">
    <div class="work-place">
        <h3 class="place">
            <img [src]="'//www.paalgyula.com/en/assets/images/' + item.workplace.image" [alt]="item.workplace.title" [title]="item.workplace.title"
            />
        </h3>
        <div class="location hidden-xs">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <a [href]="item.workplace.location.href" target="_blank">
                {{item.workplace.location.title}}</a>
        </div>
    </div>
    <div class="job-meta">
        <div class="title">{{item.meta.title}}</div>
        <div class="time">{{item.meta.time}}</div>
    </div>
    <div class="job-desc">
        <p>{{item.meta.description}}</p>
    </div>
</div>
