<div class="item">
    <div class="work-place">
        <h3 class="place">
            <img [src]="'/assets/images/blackrock-logo.png'"
                alt="BlackRock"
                th:title="BlackRock"/>
        </h3>
        <div class="location hidden-xs">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <a href="https://www.google.hu/maps/place/Duna+Tower+Irodah%C3%A1z/@47.5349502,19.0573418,17z/data=!3m1!4b1!4m5!3m4!1s0x4741dbe6475d053b:0x24f1fd1da920b683!8m2!3d47.5349502!4d19.0595305"
                target="_blank">
                XIII. Budapest - Duna Tower</a>
        </div>
    </div>
    <div class="job-meta">
        <div class="title">Senior Associate</div>
        <div class="time">2017.08 -</div>
    </div>
    <div class="job-desc">
        <p>Full stack development using Angular 4 and Spring frameworks</p>
    </div>
</div>
